.env
/data
/data/*/
/data/datasets.json
/models
/models/
/logs
/outputs
/profiles
**/logs/
**/outputs/
**/runs/
build/
build-*/
dist/
*.egg-info/
__pycache__/
*.pyc
*.so
.ipynb_checkpoints/
**/*.pytest_cache/
.venv/
.ruff_cache/
.mypy_cache/
attnrank-site